/* account details */
.accountDetails {
    width: 100%;
    text-align: center;
}

.accountOption {
    height: 3vh;
    margin-bottom: 3vh;
    background-color: var(--lightPink1);
}

.accountOptionClicked {
    height: 11vh;
    margin-bottom: 1vh;
    background-color: var(--lightPink1);
}
.inputClass {
    position: relative;
    margin-top: 0;
}
.allOptions {
    position: absolute;
}
.accountOptionInput {
    margin-top: 0;
    height: 2vh;
    width: 15vw;
}
.deleteOption {
    margin-left: 25%;
    width: 50%;
    height: 3vh;
    color: var(--lightPink1);
    background-color: var(--darkPink);
}

.optionsButton {
    margin-left: 1%;
    color: var(--darkPink);
    font-family: 'Francois One', sans-serif;
    font-size: calc(1px + 2vmin);
    border: 2px solid var(--darkPink);
    border-radius: 10px;
    background-color: var(--lightPink1);
    height: 3vmin;
    padding-bottom: 3vh;
    line-height: calc(4vh - 6px);
}

.optionsButton:hover {
    color: var(--lightPink1);
    border-color: var(--lightPink1);
    background-color: var(--darkPink);
}
.written {
    line-height: 2vh;
    margin-bottom: 0;
}

/* sign in and sign up */
.login {
    font-size: calc(12px + 2vmin);
    padding-top: 2%;
    margin-top: 5%;
    margin-right: 5%;
    width: 45%;
    min-height: 100%;
    height: 58vh;
    border: 5px solid;
    border-color: var(--lightPink1);
    border-radius: 25px;
}

.getToSignUp {
    margin-top: 5%;
    padding-top: 15vh;
    margin-left: 5%;
    margin-right: 1%;
    font-size: calc(8px + 3vmin);
    width: 55%;
    height: 45vh;
    background-image: url("../images/stberry.gif");
}

.signUpButton {
    color: var(--darkPink);
    text-decoration: none;
    padding: 0.5vh 2vw;
    font-family: 'Francois One', sans-serif;
    font-size: calc(5px + 3vmin);
    border-color: transparent;
    border-radius: 25px;
    background-color: var(--lightPink1);
    width: 50%;
    height: 8vh;
}

.signUpButton:hover {
    background-color: var(--darkPink);
    color: var(--lightPink1);
    border: 3px solid;
    border-color: var(--lightPink1);
}

input {
    font-family: 'Francois One', sans-serif;
    color: var(--darkPink);
    background-color: #ffbfc9;
    font-size: calc(5px + 2vmin);
    width: 50%;
    height: 4vh;
}

input:focus {
    outline-width: 0;
}

.go {
    color: var(--darkPink);
    font-family: 'Francois One', sans-serif;
    font-size: calc(5px + 3vmin);
    border-color: transparent;
    border-radius: 25px;
    margin-top: 10%;
    background-color: var(--lightPink1);
    width: 25%;
    height: 6vh;
}

button:focus {
    outline-width: 0;
}

.go:hover {
    color: var(--lightPink1);
    font-family: 'Francois One', sans-serif;
    font-size: calc(10px + 2vmin);
    border: var(--lightPink1) 2px solid;
    border-radius: 25px;
    margin-top: 10%;
    background-color: var(--darkPink);
    width: 25%;
    height: 6vh;
}